html, body{
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    
    background-color: white;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600; /* Semibold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin weight */
    font-style: normal;
  }
  



/*LOGIN, REGISTER PAGES*/


.log-left-container{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 50%;
    height: 100%;
}
.log-form-container{
    position: absolute;

    /* border: 2px solid red; */

    width: 700px;
    height: 100px;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
}

.log-form-elements{
    display: flex;

    flex-direction: column;

    align-items: left;
    justify-content: center;

}

.text-14-black{
    font-size: 18px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 700;

    padding: 10px 0px;
}

.log-input{
    width: 400px;
    height: 50px;

    border-radius: 15px;

    border: 3px solid #DEEAF4;

    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    box-sizing: border-box;

    padding-left: 20px;

}

.password-container {
    position: relative;
    width: 400px;
}

.password-container .log-input {

    padding-right: 50px;
}

.password-container .toggle-password {
    position: absolute;

    display: flex;
    align-items: center;

    

    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;

    /* padding: 10px; */

}





.log-submit {
    width: 400px;

    height: 50px;
    border-radius: 15px;
    background-color: #3786F2; 
    color: #FFFFFF; 
    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}
.log-submit:hover {
    background-color: #69a7fd; 
}

.error-message {

    color: red;
    font-size: 14px; 
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    margin-top: 5px;
}






.log-right-container{
    /* border: 2px solid red; */
    
    left:50%;

    position: absolute;
    width: 45vw;
    height: 95vh;
    padding: 2.5vh 2.5vw;
}

.log-right-container img{
    border-radius: 50px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}






/*QUIZ GAME PAGES*/

.quiz-page{
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-and-question{
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: grid;
    grid-template-columns: repeat(2, 700px);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
}

.quiz-box {
    width: 700px;
    height: 100px;
    background-color: #ffffff;
    border: 3px solid #ccc;

    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    box-sizing: border-box;
}

.quiz-box:hover {
    background-color: #f6f6f6;
}

.quiz-box .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
    margin-right: 25px;
}

.quiz-box span {
    font-size: 30px;
    color: #000;
}

.quiz-box.active {
    background-color: #3786F2;
    border: 3px solid #6FACFF;
    color: #fff;
}

.quiz-box.active .circle {
    background-color: #fff;
    color: #3786F2;
}

.question{
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 50px; 
    display: flex;
    padding: 50px;

    max-width: 60%;
}

.question-image{
    width: 250px;
}




.quiz-score {
    display: flex;
    gap: 50px; /* Расстояние между контейнерами */
    position: absolute;
    bottom: 50px;
    
}

.container-score-person {
    background-color: white;
    padding: 20px;
    text-align: center;

    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-score-person img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color: #3786F2;
    /* border: 10px solid #3786F2; Синяя обводка */
    border: 7px solid #3FE493; /*Зеленая обводка*/
}

.container-score-person p {
    margin: 10px 10px;
}






/*MAIN MENU PAGE*/

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 920px;
    height: 150px;

    font-size: 50px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    border: solid #D9D9D9 0px;

    border-radius: 100px;
    background-color: #D9D9D9;
    color: #000;
    

    margin: 25px;

    text-decoration: none;

    transition: all 0.3s ease;
}

.menu-button:hover {
    background-color: #3786F2;
    color: white;
    width: 1020px;
    height: 200px;
}

.menu-profile-link{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menu-profile-container {
    width: 600px;
    height: 120px;

    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 50px;
    border-radius: 60px;
    background-color: #D9D9D9;

    transition: all 0.3s ease;
}

.menu-profile-container:hover {
    height: 180px;
    top: 50px;
    color: white;
    background-color: #3786F2;
}

.menu-profile-img {
    /* padding-left: 20px;  */
    width: 90px;
    height: 90px;
}

.menu-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.menu-profile-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    color: #000;
    transition: all 0.3s ease;
}

.menu-profile-container:hover .menu-profile-text {
    color: white;
}


.menu-profile-text span {
    margin-right: 5px;
}

.menu-description {
    position: absolute;
    bottom: 50px;
    font-size: 15px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}








/*MAIN MENU PAGE*/

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 920px;
    height: 150px;

    font-size: 50px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    border: solid #D9D9D9 0px;

    border-radius: 100px;
    background-color: #D9D9D9;
    color: #000;
    

    margin: 25px;

    text-decoration: none;

    transition: all 0.3s ease;
}

.menu-button:hover {
    background-color: #3786F2;
    color: white;
    width: 1020px;
    height: 200px;
}

.menu-profile-link{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menu-profile-container {
    width: 600px;
    height: 120px;

    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 50px;
    border-radius: 60px;
    background-color: #D9D9D9;

    transition: all 0.3s ease;
}

.menu-profile-container:hover {
    height: 180px;
    top: 50px;
    color: white;
    background-color: #3786F2;
}

.menu-profile-img {
    /* padding-left: 20px;  */
    width: 90px;
    height: 90px;
}

.menu-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.menu-profile-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    color: #000;
    transition: all 0.3s ease;
}

.menu-profile-container:hover .menu-profile-text {
    color: white;
}


.menu-profile-text span {
    margin-right: 5px;
}

.menu-description {
    position: absolute;
    bottom: 50px;
    font-size: 15px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}



/*CREATE ROOM PAGE*/

.create-room-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* height: 100vh; */

    padding: 150px;
}

.create-room-title{
    font-size: 50px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    padding-left: 50px;

}

.topic-naming{
    font-size: 50px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.topic-picker{
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.time-picker{
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.topic-name{
    font-size: 50px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    padding: 50px;

    border-radius: 50px;

    background-color: #D9D9D9;
}

.topic-name:hover{
    background-color: #eaeaea;

    transition: all 0.3s ease;
}

.create-room-button{
    position: absolute;
    right: 150px;
    bottom: 150px;

    font-size: 50px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    padding: 50px;

    border-radius: 50px;

    color: white;
    background-color: #3786F2;

    transition: all 0.3s ease;

    border: solid #D9D9D9 0px;
}

.create-room-button:hover{
    background-color: #5b9fff;

    border-radius: 60px;
    padding: 60px;

    right: 140px;
    bottom: 140px;
}

.create-room-selected {
    background-color: #1AF1AF;
    color: white;
    transition: all 0.3s ease;
}

.create-room-selected:hover {
    background-color: #1AF1AF;
}

.create-room-error-message{
    font-size: 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;

    padding-left: 50px;
    padding-top: 80px;

    color: red;
}